/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-wp"] {
    padding: 0;
    min-height: 86px;

    & section {
        position: initial;
    }
}

[data-type="quse-blocks/quse-wp"] .block-editor-inner-blocks {
    padding: 0 1rem;
}