.heading {
    position: relative;
    padding: 0 1rem;
    overflow: hidden;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & section {
        width: 100%;
    }

    & .heading__inner {
        position: relative;
        width: 100%;
        padding: 2rem 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__categories {
            display: none;
            margin-bottom: 1rem;
        }

        &__title {
            margin: 0 0 1rem;
            font-weight: 700;
        }

        &__subtitle {
            margin: 0;
        }

        &__date {
            margin-top: 1rem;
            font-size: .9em;
        }
    }
}