

.quse-block .grid .block-editor-block-list__layout{

    & [data-type="quse-blocks/quse-grid-box"]{
        margin: 0;
        flex-basis: 100%;
        max-width: none;
    }
}

.grid-box{
    margin: 0;
    flex-basis: 100%;
    max-width: none;
    display: block;
    position: relative;

    .box{
        border: 1px solid #c3c4c7;
        box-shadow: rgba(0, 0, 0, 0.04);
        // background-color: green;
        position: relative;
        display: block;
        // min-height: 215px;

        .box-text-descriptor {
            background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.55) 70%);
            text-shadow: 0 1px 0 black;
            color: #fff;
            display: flex;
            align-items: flex-end;
            line-height: 17px;
            font-size: 0.8em;
            position: absolute;
            bottom: 0;
            z-index: 1;
            padding: 0;
            width: 100%;

            .title-info{
                display: flex;
                background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.55) 70%);
                text-shadow: 0 1px 0 black;
                padding: .75rem;
                width: 100%;
            }
        }
        
        .box-image{
            padding: 0;
            height: auto;
            display: block;
        }
    }
}

