
    .box{
        position: relative;
        display: block;

        .box-text-descriptor {
            background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.55) 70%);
            text-shadow: 0 1px 0 black;
            color: #fff;
            display: flex;
            align-items: flex-end;
            line-height: 17px;
            font-size: 0.8em;
            position: absolute;
            bottom: 0;
            z-index: 1;
            padding: 0;
            width: 100%;

            .title-info{
                display: flex;
                background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.55) 70%);
                text-shadow: 0 1px 0 black;
                padding: .75rem;
                width: 100%;
            }

            @media (max-width: $breakpoint-wrapper) {
                height: 25%;
            }
        }
        
        .box-image{
            padding: 0;
            height: auto;
            display: block;
        }

        &:hover {
            box-shadow: 0px 4px 8px rgba(0,0,0,0.66);
        }
    }

