/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.nav.flex-column, .nav.navigation {
    list-style: none;
}

.nav .block-editor-block-list__layout {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.nav.flex-column .block-editor-block-list__layout {
    flex-direction: column;
}

.quse-tabs [data-type="quse-blocks/quse-nav"] {
    margin-bottom: 0;
    padding: 0;
}

[data-type="quse-blocks/quse-nav"] {
    padding: 0;

    & .nav-tabs {
        padding-top: 0;
        border-bottom: 1px solid #dee2e6;
    }

    & .nav-pills {
        margin-bottom: 0;
    }
}