.nav {
    display: flex;
    position: relative;

    &.navigation, &.nav-tabs, &.flex-column {
        padding: 2rem 1rem;
        margin: 0 auto;

        @media (max-width: $breakpoint-wrapper) {
            padding-left: 1rem;
        }
    }

    &.flex-column {
        flex-direction: column;
        align-items: flex-start;
    }

    
}