/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-slide"] {
    max-width: none;

    & .wp-block {
        max-width: none;
    }
}

.block-editor-block-list__block .slide {

    & .block-editor-inner-blocks {
        padding: 0;
    }

    & .slide__caption__title {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    & .slide__caption__text {

        & p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .block-editor-block-list__block .slide .slide__caption__title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .block-editor-block-list__block .slide .slide__caption__title {
        font-size: 1.2rem;
    }
}