.slide {
    position: relative;

    &__inner {
        max-width: 1300px;
        margin: 0 auto;
    }

    &__image {
        /*
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: $breakpoint-wrapper) {
            height: auto !important;
        }
        */

        &--featured {

            display: block;

            @media (max-width: $breakpoint-large-phone) {
                height: 200px;
                width: 100% ;
            }

        }
    }

    & .carousel-container {
        position: absolute;
        top: 0;
        max-width: 1300px;
        width: 100%;
        height: 100%;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__caption {

        &.carousel-caption {

            position: relative;
            left: auto; //Bootstrap Style Override
            right: auto; //Bootstrap Style Override
            bottom: auto; //Bootstrap Style Override
            color: black;
            padding: 3rem;
            overflow: hidden;
            margin-left: 1rem;
            max-width: 500px;
            margin: 0 0 1rem;

            &.style--default {
                background: transparent;
                border: none;
                box-shadow: none;
            }

            &.style--alt {
                background: rgba(255, 255, 255, 0.65);
                border-radius: 5px;
                box-shadow: 0px 1px 2px rgba(0,0,0, .16);
            }
    
            @media (max-width: $breakpoint-tablet) {
                position: relative;
                box-shadow: none;
                padding: 1rem;
            }
    
        }

        &__title {
            margin-bottom: .5rem;
            margin-top: 0;

            @media (max-width: $breakpoint-wrapper) {
                font-size: 1.5rem;
            }

            @media (max-width: $breakpoint-large-phone) {
                font-size: 1.2rem;
            }
        }

        &__text {

            font-size: 1.2rem;

            @media (max-width: $breakpoint-tablet) {
                font-size: 15px;
            }
        }

    }

}