.carousel {
    position: relative;

    & .carousel-control-prev, .carousel-control-next {
        width: 2%;
        opacity: .9;

        & .carousel-control-prev-icon, & .carousel-control-next-icon {
            -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .8));
            filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .8));
        }
    }

    @media (max-width: $breakpoint-tablet) {
        & .carousel-control-next, & .carousel-control-prev {
            height: 100%;
        }

        & .carousel-container {
            min-height: 150px;
        }

    }

    @media (max-width: $breakpoint-large-phone) {
        & .carousel-control-next, & .carousel-control-prev {
            height: 200px;
            width: 4%;
            margin: 0 .5rem;
        }

        & .carousel-container {
            position: relative;
        }

    }
}