/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
[data-type="quse-blocks/quse-link"] {
    border: none;
    max-width: unset !important;
    flex-basis: unset !important;
}

[data-type="quse-blocks/quse-link"] {
    margin: auto 0;
    padding: 0;
    display: inline-block;
} 

.link {
    margin: 0;
    margin-right: .5rem;
    border: none;
}

