.btn.quse__button {

    font-size: 15px;
    border-radius: 0;
    padding: .55rem .75rem;
    font-weight: 700;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.26);
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin: .5rem .5rem .5rem 0;
    width: fit-content;
    display: inline-block;

    &--primary {
        background-color: #E97200;
        border: 2px solid #E97200;
        color: white;

        &:hover {
            background-color: darken( #E97200, 10% );
            border-color: darken( #E97200, 10% );
            color: white;
        }
    }

    &--secondary {
        background-color: #55575a;
        border: 2px solid #55575a;
        color: white;

        &:hover {
            background-color: darken( #55575a, 10% );
            border-color: darken( #55575a, 10% );
            color: white;
        }
    }

    &--clear {
        background-color: transparent;
        border: 2px solid #E97200;
        color: #E97200;

        &:hover {
            background-color: #E97200;
            border-color:#E97200;
            color: white;
        }
    }

    &--custom {
        color: #ffffff;

        &:hover {
            color: white;
        }
    }

}

.link--primary.nav-link {
    display: flex;
    align-items: center;
}