/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 * [data-type="quse-blocks/quse-group"]
 */

.quse-block .grid .block-editor-block-list__layout {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem 0;

    & [data-type="quse-blocks/quse-card"] {
        margin: 0;
        flex-basis: 100%;
        max-width: none;
    }

    & .block-list-appender.wp-block {
        flex-basis: 100%;
        padding: 1rem 0;
    }
}

.quse-block {
    & .grid {
        &__inner {
            margin: 0;
        }
    }
}

.quse-block .grid.one-column .block-editor-block-list__layout {
    flex-direction: column;
}
.quse-block .grid.two-columns .block-editor-block-list__layout .block-editor-block-list__block {
    flex-basis: 50%;
    max-width: 50%;
}
.quse-block .grid.three-columns .block-editor-block-list__layout .block-editor-block-list__block {
    flex-basis: 33%;
    max-width: 33%;
}
.quse-block .grid.four-columns .block-editor-block-list__layout .block-editor-block-list__block {
    flex-basis: 25%;
    max-width: 25%;
}
.quse-block .grid.five-columns .block-editor-block-list__layout .block-editor-block-list__block {
    flex-basis: 20%;
    max-width: 20%;
}
.quse-block .grid.six-columns .block-editor-block-list__layout .block-editor-block-list__block {
    flex-basis: 16.6%;
    max-width: 16.6%;
}

@media only screen and (max-width: 1200px) {
    .wp-block-quse-blocks-quse-group .grid.six-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.five-columns .block-editor-block-list__layout .block-editor-block-list__block {
        flex-basis: 25%;
        max-width: 25%;
    }
}

@media only screen and (max-width: 900px) {
    .wp-block-quse-blocks-quse-group .grid.six-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.five-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.four-columns .block-editor-block-list__layout .block-editor-block-list__block {
        flex-basis: 33%;
        max-width: 33%;
    }
}

@media only screen and (max-width: 768px) {
    .wp-block-quse-blocks-quse-group .grid.six-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.five-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.four-columns .block-editor-block-list__layout .block-editor-block-list__block, 
    .wp-block-quse-blocks-quse-group .grid.three-columns .block-editor-block-list__layout .block-editor-block-list__block {
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .wp-block-quse-blocks-quse-group .grid.six-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.five-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.four-columns .block-editor-block-list__layout .block-editor-block-list__block, 
    .wp-block-quse-blocks-quse-group .grid.three-columns .block-editor-block-list__layout .block-editor-block-list__block,
    .wp-block-quse-blocks-quse-group .grid.two-columns .block-editor-block-list__layout .block-editor-block-list__block {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.grid.one-columns .block-editor-block-list__layout .block-editor-block-list__block .content,
.grid.two-columns .block-editor-block-list__layout .block-editor-block-list__block .content,
.grid.three-columns .block-editor-block-list__layout .block-editor-block-list__block .content,
.grid.four-columns .block-editor-block-list__layout .block-editor-block-list__block .content, 
.grid.five-columns .block-editor-block-list__layout .block-editor-block-list__block .content, 
.grid.six-columns .block-editor-block-list__layout .block-editor-block-list__block .content {
    flex-basis: 100%;
    max-width: 100%;
}

.wp-block-quse-blocks-quse-group .grid-center .block-editor-block-list__layout {
    justify-content: center;
}

.wp-block-quse-blocks-quse-group .grid-flex-end .block-editor-block-list__layout {
    justify-content: flex-end;
}

.wp-block-quse-blocks-quse-group .grid-space-between .block-editor-block-list__layout {
    justify-content: space-between;
}

.wp-block-quse-blocks-quse-group .grid-space-evenly .block-editor-block-list__layout {
    justify-content: space-evenly;
}

.wp-block-quse-blocks-quse-group .grid-space-around .block-editor-block-list__layout {
    justify-content: space-around;
}

.wp-block-quse-blocks-quse-group .block-editor-inner-blocks {
    width: 100%;
    margin: 1.3rem 0 1rem;
}

.wp-block-quse-blocks-quse-group .block-editor-inner-blocks .block-editor-block-list__block {
    flex-basis: 100%;
    margin: 0;
}

.wp-block-quse-blocks-quse-group .grid .block-list-appender {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    margin-bottom: 0;
}

