.wp-block-quse-blocks-quse-group section {
    padding-bottom: 20px;
}

.grid {
    display: flex;
    width: 100%;
    padding: 1rem 0;

    &__inner {
        /* margin: 0 -1rem; */
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        &.one-column {
            flex-direction: column;
        }
    
        &.two-columns .wp-block-quse-blocks-quse-card, &.two-columns .content {
            flex-basis: 50%;
            max-width: 50%;
        }
    
        &.three-columns .wp-block-quse-blocks-quse-card, &.three-columns .content {
            flex-basis: 33.3%;
            max-width: 33.3%;
        }
    
        &.four-columns .wp-block-quse-blocks-quse-card, &.four-columns .content {
            flex-basis: 25%;
            max-width: 25%;
        }

        &.four-columns .wp-block-quse-blocks-quse-grid-box {
            margin-right: .5791717603%;
            margin-bottom: .539333333em;
            width: 24.5656211798%;
        }

        &.four-columns .wp-block-quse-blocks-quse-grid-box:nth-child(4n) {
            margin-right: 0;
            width: 24.5656211798%;
        }
    
        &.five-columns .wp-block-quse-blocks-quse-card, &.five-columns .content {
            flex-basis: 20%;
            max-width: 20%;
        }
    
        &.six-columns .wp-block-quse-blocks-quse-card, &.six-columns .content {
            flex-basis: 16.6%;
            max-width: 16.6%;
        }
    
        @media (min-width: $breakpoint-small-laptop) and (max-width: $breakpoint-laptop) {
            &.six-columns .wp-block-quse-blocks-quse-card,
            &.five-columns .wp-block-quse-blocks-quse-card,
            &.four-columns .wp-block-quse-blocks-quse-card {
                flex-basis: 25%;
                max-width: 25%;
            }

        }
    
        @media (max-width: $breakpoint-small-laptop) {
            &.six-columns .wp-block-quse-blocks-quse-card,
            &.five-columns .wp-block-quse-blocks-quse-card,
            &.four-columns .wp-block-quse-blocks-quse-card, 
            &.three-columns .wp-block-quse-blocks-quse-card,
            &.two-columns .wp-block-quse-blocks-quse-card {
                flex-basis: 33%;
                max-width: 33%;
            }

            &.four-columns .wp-block-quse-blocks-quse-grid-box {
                flex-basis: 49.7104141199%;
                max-width: 49.7104141199%;
            }

            &.four-columns .wp-block-quse-blocks-quse-grid-box:nth-child(2n) {
                margin-right: 0;
            }
        }
    
        @media (max-width: $breakpoint-tablet) {
            &.six-columns .wp-block-quse-blocks-quse-card,
            &.five-columns .wp-block-quse-blocks-quse-card,
            &.four-columns .wp-block-quse-blocks-quse-card
            &.three-columns .wp-block-quse-blocks-quse-card,
            &.two-columns .wp-block-quse-blocks-quse-card {
                flex-basis: 50%;
                max-width: 50%;
            }
            
        }
    
        @media (max-width: $breakpoint-large-phone) {
            &.six-columns .wp-block-quse-blocks-quse-card,
            &.five-columns .wp-block-quse-blocks-quse-card,
            &.four-columns .wp-block-quse-blocks-quse-card, 
            &.three-columns .wp-block-quse-blocks-quse-card,
            &.two-columns .wp-block-quse-blocks-quse-card {
                flex-basis: 100%;
                max-width: 100%;
            }

            &.four-columns .wp-block-quse-blocks-quse-grid-box {
                flex-basis: 100%;
                max-width: 100%;
                margin-right: 0;
            }
        }
    }

    &--expand {

        &:focus-within .card__box,
        &:hover .card__box {
            transform: translateX(-25%);
        }

        & .card__box {
            position: relative;
            display: block;
            flex: 1 1 0px;
            transition: transform 500ms;
            padding: 0;
            height: 100%;

            &:focus ~ .card__box,
            &:hover ~ .card__box {
                transform: translateX(25%);
            }

            &:focus,
            &:hover {
                transform: scale(1.15);
                z-index: 1;
            }
        }

    }

    & p {
        padding: .5rem;

        & img {
            padding: initial;
        }
    }

    & img {
        padding: .5rem;
    }

    @media (max-width: $breakpoint-large-phone) {
        width: 90%;
    }

}