/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-post-list"] {
    padding: 2rem 0;

    & .post {
        border: 1px dotted #ccd0d4;

        & .badge-block-name {
            & a {
                text-decoration: none;
            }
        }
    }
}