.post-list {
    position: relative;
    padding: 1rem;

    & .post {
        margin-bottom: 1rem;
        min-height: 300px;

        &.display--simple {
            position: relative;
            min-height: auto;
            padding: 0;
            margin-bottom: 0;

            & .post__title {
                padding: .5rem;
                font-size: 1.2rem;
            }
        }

        &__image {
            background: #f9f9f9;
            max-height: 600px;
        }

        &__date {
            font-weight: bold;
            font-size: .8em;
            margin-bottom: 1rem;
        }

        &__categories {
            & .category-item {
                padding: 0 5px;
            }
        }

    }
}