$breakpoint-wrapper: 1300px;
$breakpoint-laptop: 1199px;
$breakpoint-small-laptop: 900px;
$breakpoint-tablet: 768px;
$breakpoint-large-phone: 550px;
$breakpoint-small-phone: 400px;

//TODO: Set in options page
$primary_color: #E97200;

.heading-one {
    font-size: 2.45em;
    line-height: 1.4;
    font-weight: bold;
}

.heading-two {
    font-size: 2em;
    line-height: 1.4;
    font-weight: bold;
}

.heading-three {
    font-size: 1.56em;
    line-height: 1.4;
    font-weight: bold;
}

.heading-four {
    font-size: 1.25em;
    font-weight: bold;
}

.heading-five {
    font-size: 1.1em;
}

.heading-six {
    font-size: 1em;
}

/*
[data-align="wide"], [data-align="center"] {
    max-width: 1300px;
}
*/

.block-editor-block-list__block {
    border: 1px dotted #ccd0d4;

    &[data-align="full"], &[data-align="wide"] {
        max-width: none;
    }

}

.wp-block {
    &[data-align="full"], &[data-align="wide"] {
        margin: 0 auto;
        max-width: none;
    }

}

[data-type="core/paragraph"].block-editor-block-list__block {
    border: none;
}

.block-editor-block-inspector .components-base-control {
    width: 100%;
}

.components-panel__row {

    & .url-input {
        width: 200px;
    }

    & .block-editor-block-list__block 
    .block-editor-url-input input[type=text], 
    .block-editor-url-input input[type=text], 
    .components-popover 
    .block-editor-url-input input[type=text] {
        width: 230px;
    }

}

.wp-block {

    & .badge-block-name {
        border-bottom: 1px dotted #ccd0d4;
        border-left: 1px dotted #ccd0d4;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 13px;
        color: darken(#ccd0d4, 20%);
        z-index: 1;
    }

    .block-editor-button-block-appender {
        background: transparent;

        &.components-button:not(:disabled):not([aria-disabled=true]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover {
            background-color: lighten(#ccd0d4, 10%);
            box-shadow: none;
        }
    }

    .quse-media-button {
        position: relative;
        left: 1rem;
        top: 1rem;
        margin-bottom: .5rem;

        &--overlay {
            position: absolute;
        }
    
        & .dashicon {
            position: relative;
            top: 5px;
        }

    }
    
}

.media-upload-wrapper {

    & .dashicon {
        position: relative;
        top: 5px;
    }

}
