/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-modal"] .modal {

    & .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
        display: flex;
        align-items: center;
        margin: 1.75rem auto;
        position: relative;
        width: auto;
        box-sizing: border-box;
    }

    & .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
    }

    & .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: none;

        & h4 {
            margin: 0;
        }
    }

    & .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }

    & .modal-footer {
        & .block-editor-block-list__layout {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            padding: 1rem;

            & .block-list-appender {
                flex-basis: 100%;
            }
        }
    }
}