/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-tabs"] {
    padding: 0;

    & [data-type="quse-blocks/quse-nav"] .badge-block-name {
        display: none;
    }

    & [data-type="quse-blocks/quse-tab-link"] .badge-block-name {
        display: block;
    }
}