.quse-tabs {
    position: relative;
    margin: 2rem auto;

    & .nav-tabs, .tab-content {
        margin: 0 1rem;
    }

    & .nav-tabs {

        padding-top: 2rem;

        & .nav-link:hover {
            border: 1px solid darken(#dee2e6, 10%);
            border-bottom: 1px solid transparent;
            cursor: pointer;
        }

    }

    & .nav-pills {

        padding: 0 1rem;
        margin-bottom: 1rem;

        & .nav-link.active {
            background-color: #55575a;
            border: 2px solid #55575a;
            color: white;
        }

        /*
        & .nav-link {
            color: #55575a;
        }
        */

    }

    &__inner {
        position: relative;
    }

    & .tab-content {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 2rem;
        overflow: hidden;
        margin-bottom: 2rem;
        background: #fff;

        &.pills-content {
            border: none;
        }

    }
}