.quse-background-options {
    background: #f2f2f2;
}

// Removes the border from the Title Block and the Appender Block
.edit-post-visual-editor__post-title-wrapper .wp-block, .wp-block.block-editor-default-block-appender {
    border: none;
}

.media-upload-wrapper, .media-button-wrapper {
    & .button {
        box-shadow: 0 2px 4px rgba(0,0,0,.16);
        padding: 0 1rem;

        & .dashicon {
            position: relative;
            top: 5px;
        }

        & svg {
            position: relative;
            top: 5px;
            margin-right: 5px;
        }
    }
}

.small-box {
    input[type=text], select {
        width: 35%;
        position: relative;
        top: -2px;
    }
}

.wp-block {

    & section {
        &.quse-block {
            &.experience {
                border: 1px solid black;
                display: block;

                &.nav {
                    display: flex;
                }
            }
        }
    }

}
