section {
    position: relative;

    &.quse-block {
        &.experience {
            display: none;
        }
    }
}

/*
.container-wrapper, .center {
    max-width: 1300px;
    margin: 0 auto;
}
*/

.text-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.container--full {
    max-width: 100%;
}

.container--wide {
    max-width: 1300px;
    margin: 0 auto;
}

.container--center {
    max-width: 800px;
    margin: 0 auto;
}

.container--left {
    max-width: none;
}

.background__overlay {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
