/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-author"] {
    padding: 2rem 0;

    & .author {

        &__top__image {
            border: 1px dotted #ccd0d4;
            width: 200px;
            height: 225px;
        }

    }

}