.author {
    position: relative;
    padding: 1rem;
    height: 100%;

    &__box {
        height: 100%;
        display: flex;
        margin: 0;
        max-width: 1000px;

        @media (max-width: $breakpoint-small-laptop) {
            flex-wrap: wrap;
        }
    }

    &__top {
        width: 100%;
        flex-basis: 50%;
        max-width: 300px;
        display: flex;

        @media (max-width: $breakpoint-small-laptop) {
            margin-bottom: 1rem;
        }

        @media (max-width: $breakpoint-tablet) {
            max-width: none;
            flex-basis: 100%;
        }
    
        & img {
            height: auto;
            width: 100%;
        }
    }

    & .author__body {
        padding: 0;
        flex-basis: 100%;
        width: 100%;
        display: flex;

        &__content {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
            padding: .5rem 1rem 0;

            @media (max-width: $breakpoint-large-phone) {
                padding: 1rem;
            }

            &__name {
                margin: 0 0 1rem;
                font-weight: bold;
            }

            &__description {
                margin: 0 0 1rem;
                font-size: 15px;
            }

        }
    }
}