/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-quse-blocks-quse-group .grid .card .block-editor-block-list__layout {
    padding: 0 0 1rem;
}

[data-type="quse-blocks/quse-display"] {
    box-shadow: none;

    & .display_box {
        padding: 0;
    }

    & .display {

        & .display-image-top {
            
            & img {
                height: auto;
            }
        }
    
        &.style--row-reverse {
            & .quse-media-button {
                left: auto;
                right: 1rem;
                top: 3rem;
            }
        }

    }

}