.display_box {
    padding: 0;
}

.display {
    position: relative;
    margin-top: 0;
    padding: 0;
    height: 100%;
    display: flex;
    /* border: 1px solid #f9f9f9; */

    &.full-width {
        display: flex;
    }

    @media (max-width: $breakpoint-wrapper) {
        border: none;
        box-shadow: none;
        align-items: center;
    }

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column !important;
    }

    & .display-image-top {
        width: 100%;
        flex-basis: 100%;
        display: flex;
        align-items: center;
    
        & img {
            height: auto;
            width: 100%;
        }
    }

    & .display-body {
        padding: 0;
        flex-basis: 100%;
        width: 100%;
        display: flex;

        &__content {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
            padding: 2rem;

            @media (max-width: $breakpoint-large-phone) {
                padding: 1rem;
            }

            & .display-title {
                margin: 0 0 1rem;
                font-weight: bold;

                @media (max-width: $breakpoint-tablet) {
                    font-size: 1.5em;
                }
            }

            & .display-text {
                margin: 0 0 1rem;
            }

        }

    }
}