/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.quse-block .grid .card .block-editor-block-list__layout {
    padding: 0 0 100rem;
}

.quse-block .grid .card .card-left .block-editor-block-list__layout {
    justify-content: flex-start;
}

.quse-block .grid .card .card-center .block-editor-block-list__layout {
    justify-content: center;
}

.quse-block .grid .card .card-right .block-editor-block-list__layout {
    justify-content: flex-end;
}

.quse-block {

    & .grid {

        &__inner {
            & .block-editor-inner-blocks {
                width: 100%;
            }
        }

        & .card__box {

            height: 100%;
    
            & .card {

                min-width: none;
    
                .card-image-top {
                    display: flex;
                }

                .card-body {
                    & .block-editor-block-list__layout {
                        padding: 10px 0;
                    }
                }
    
            }
        }

    }
    
}

.media-button-wrapper {
    &.panel--clear {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #555d66;
    }
}