.card__box {
    padding: 1rem;
    flex-grow: 1;

    .card {
        /*
        min-width: unset;
        margin-top: 0;
        height: 100%;
        min-height: 100px;
        */
        border-radius: 0;
        padding: 0;
        max-width: none;
    
        & .card-image-top {
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 200px;
            background-repeat: no-repeat;
        
            & img {
                height: inherit;
                width: 100%;
                padding: 0;
            }
        }
    
        & .card-body {
            padding: 1rem;
            min-height: 0;
    
            & .card-title {
                margin: 0 0 1rem;
            }
    
            & .card-text {
                margin-bottom: 1rem;
            }
        }
    
        &.card--gallery {
    
            background-color: rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: column;
            justify-content: flex-end; //TODO: Make this an option to toggle in the admin
            align-items: flex-start;
            border-radius: 0;
            position: relative;
            border: none;
            overflow: hidden;
            min-width: 200px;
    
            & .card-image-top {
                height: auto;
                display: flex;
                align-items: flex-start;

                @media (max-width: $breakpoint-large-phone) {
                   /* height: auto !important; */
                }
            }
    
            & img {
                height: auto;
                width: 100%;
                max-height: none;
            }
    
            & .card-title {
                margin: 0;
                padding-left: 10px;
                padding-bottom: 10px;
                color: white;
                position: absolute;
                bottom: 0;
                text-shadow: 0 1px 0 rgba(0,0,0,.42);
    
            }
        }
    
    }
}

