/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.nav-tabs [data-type="quse-blocks/quse-tab-link"] {
    padding-bottom: 0;
    margin-bottom: 0;
}

[data-type="quse-blocks/quse-tab-link"] {
    padding-top: 3rem;
}

.nav-tabs {
    & .block-list-appender>.block-editor-inserter {
        margin-left: 5px;
        position: relative;
        top: 1.5rem;
    }
}

.nav-link.quse__tab {
    color: #495057;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-color: #dee2e6 #dee2e6 #fff;
    padding: .5rem 1rem .3rem;
    text-decoration: none;
    margin-right: 5px;
    font-size: 1.2rem;
}

.nav-pills .nav-link.quse__tab {
    background-color: #55575a;
    border: 2px solid #55575a;
    color: white;
    border-radius: 4px;
}

