.quse__tab {

    position: relative;
    top: 1px;
    margin-right: 5px;
    font-size: 1.2rem;

    &.active {
        //box-shadow: 0 -1px 2px rgba(0,0,0,0.26);
        // box-shadow: 0 -3px 3px -3px rgba(0,0,0,0.26), 3px 0px 3px -3px rgba(0,0,0,0.26), -3px 0px 3px -3px rgba(0,0,0,0.26);
    }

}