/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-poster"] {

    & .poster__title {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    & .poster__text {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

[data-type="quse-blocks/quse-poster"] .block-editor-inner-blocks .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
}