.poster {
    /* height: 65vh; */
    min-height: 600px;
    position: relative;
    padding: 0;

    &__inner {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &__image {
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: relative;
        }

        &__content {
            width: 450px;
            z-index: 10;
            padding: 2rem;
            position: absolute;
    
            @media only screen and (max-width: '768px') {
                width: 100%;
            }
        }

    }

    &__title {
        font-weight: bold;
        margin: .5rem 0;
    }

}