/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="quse-blocks/quse-tab-item"] {
    margin-top: 0;

    & .tab-content {
        background: #fff;
    }
}